.main-body {
	background-image : url('../images/mainIcon/mainBackground3.PNG'); 
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	padding-bottom: 0;
	height: inherit;
	width: 100%;
	bottom: 0;
	text-align: center;
}

nav {
	margin-bottom: 0 !important;
	z-index: 5000 !important;
}


.main-container {
  top: 45% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important ;
  transform: translate(-50%, -50%) !important;
  margin-left: 0 !important;
  position: relative;
  width: 70%;
  height: 50%;
}

.box
{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 4.5vmin;
  background-color: white; /* gold */
  /* Single pixel data uri image http://jsfiddle.net/LPxrT/ 
  /* background-image: gold, gold, white */
  background-image: 
  url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
  url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
  url('../images/mainIcon/mainBackground3.PNG');
  background-repeat: no-repeat;
  background-size: 0 4.5vmin, 0 100%, 0% 4.5vmin;
  background-position: top center, top center, bottom center;
  -webkit-animation: drawBorderFromCenter 3s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes drawBorderFromCenter {
    0% {
      background-size: 0 20vmin, 0 0, 100% 100%;
    }
    20% {
      background-size: 100% 4.5vmin, 100% 0, 100% 100%;
    }
    66%
    {
      background-size: 100% 4.5vmin, 100% 90%, 100% 100%;
    }
    99%
    {
      background-size: 100% 4.5vmin, 100% 90%, 0 4.5vmin;
    }
}



.content
{
  height:100%;
  background-image: url('../images/mainIcon/mainBackground3.PNG');
  padding: 4em;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  text-transform: uppercase;
}

/* .main-logo-left-hr {
	height:10px;
	background-color: red;
	width:0px;
	float: right;
	-webkit-animation: main-logo-left 3s;
} */

.main-logo {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 3%;
}

.main-logo > span {
	position: relative;
	display: inline-block;
}

.left {
	display: inline-flex;
	flex: 1;
	content: "";
	top:50%;
	height: 4.5vmin;
	width: 39%;
	background: #FFE500; 
	margin-right: 3%;
	-webkit-animation: main-logo 3s;
	vertical-align: bottom;
}

.right {
	display: inline-flex;
	flex: 1;
	content: "";
	top:50%;
	height: 4.5vmin;
	width: 39%;
	background: #FFE500; 
	margin-left: 3%;
	-webkit-animation: main-logo 3s;
	vertical-align: bottom;
}


@-webkit-keyframes main-logo {
    from {
    	width:0%;
    }
    to
    {
      width: 39%;
    }
}

@media(max-width: 766px)  {
	.container{
		top:50% !important;
	}
}

.kr_All {position:relative;left:25px;float:none;width:210px;height:280px;background:url(../images/map/bg_map.gif) 0 0 no-repeat;}
		
.kr_All .imgMap {position:absolute; top:0; left:0; z-index:100;}

.kr_All ul {position:absolute; top:0; left:0; z-index:0; list-style:none;}
.kr_All ul li {display:none; position:absolute;}
.kr_All ul li.map1 {top:37px; left:61px;}
.kr_All ul li.map2 {top:31px; left:35px;}
.kr_All ul li.map3 {top:21px; left:56px;}
.kr_All ul li.map4 {top:13px; left:80px;}
.kr_All ul li.map5 {top:85px; left:37px;}
.kr_All ul li.map6 {top:98px; left:68px;}
.kr_All ul li.map7 {top:71px; left:86px;}
.kr_All ul li.map8 {top:77px; left:110px;}
.kr_All ul li.map9 {top:121px; left:124px;}
.kr_All ul li.map10 {top:143px; left:157px;}
.kr_All ul li.map11 {top:163px; left:138px;}
.kr_All ul li.map12 {top:139px; left:98px;}
.kr_All ul li.map13 {top:124px; left:51px;}
.kr_All ul li.map14 {top:159px; left:33px;}
.kr_All ul li.map15 {top:164px; left:11px;}
.kr_All ul li.map16 {top:232px; left:4px;}


.kr_Seoul {position:relative;left:25px;top:22px;float:none;width:220px;height:169px;background:url(../images/map2/bg_seoul.png) 0 0 no-repeat;}
.kr_Seoul .imgMap {position:absolute; top:0; left:0; z-index:100;}
.kr_Seoul ul {position:absolute; top:0; left:0; z-index:0;}
.kr_Seoul ul li {display:none; position:absolute;}
.kr_Seoul ul li.map1 {top:-22px; left:109px;}
.kr_Seoul ul li.map2 {top:-24px; left:99px;}
.kr_Seoul ul li.map3 {top:25px; left:258px;}
.kr_Seoul ul li.map4 {top:117px; left:367px;}
.kr_Seoul ul li.map5 {top:137px; left:312px;}
.kr_Seoul ul li.map6 {top:95px; left:254px;}
.kr_Seoul ul li.map7 {top:102px; left:225px;}
.kr_Seoul ul li.map8 {top:137px; left:168px;}
.kr_Seoul ul li.map9 {top:62px; left:144px;}
.kr_Seoul ul li.map10 {top:187px; left:356px;}
.kr_Seoul ul li.map11 {top:190px; left:294px;}
.kr_Seoul ul li.map12 {top:192px; left:240px;}
.kr_Seoul ul li.map13 {top:213px; left:223px;}
.kr_Seoul ul li.map14 {top:163px; left:121px;}
.kr_Seoul ul li.map15 {top:175px; left:422px;}
.kr_Seoul ul li.map16 {top:233px; left:365px;}
.kr_Seoul ul li.map17 {top:245px; left:303px;}
.kr_Seoul ul li.map18 {top:259px; left:262px;}
.kr_Seoul ul li.map19 {top:270px; left:172px;}
.kr_Seoul ul li.map20 {top:303px; left:168px;}
.kr_Seoul ul li.map21 {top:313px; left:132px;}
.kr_Seoul ul li.map22 {top:217px; left:140px;}
.kr_Seoul ul li.map23 {top:272px; left:60px;}
.kr_Seoul ul li.map24 {top:222px; left:70px;}
.kr_Seoul ul li.map25 {top:145px; left:2px;}
