@charset "UTF-8";

html,body {
   	background-color: #f4f5f7;
   	background-image: url('../images/mainIcon/mainBackground3.PNG');
   	background-repeat: no-repeat;
   	background-size: 100% 100%;
   	height: 100%;
}

.wrap {
   	margin: 0; 
   	padding: 0; 
   	background-color: #f4f5f7;
   	background-image: url('../images/mainIcon/mainBackground3.PNG');
   	background-repeat: no-repeat;
   	background-size: cover;
   	padding-bottom: 5%;
}

/* 폰트 설정 */
@font-face { 
	font-family: MyFont; 
	src: url(https://myhome.com/fonts/myfont.ttf); 
	font-weight: bold; 
} 

* { 
	font-family: 'Indie Flower', cursive;
	font-family: 'Nanum Pen Script', cursive;
}

/* 메인 가장 상단 nav */
.nav-top {
	justify-content: flex-end;
	flex-direction: row;
	font-size: 1.4rem;
}

.nav-top a {
	color: black;
	font-size: 1.4rem;
	margin-left: 0 !important;
}

.nav-top-div {
   	width:100%; 
   	float:right !important;
}

/* 메인 2번째 nav */
.nav {
   	box-shadow: 1px 10px 5px rgba(0,0,0,0.5), 6px 11px 5px rgba(0,0,0,0.5);
   	width:100%;
   	margin-bottom:5% ;
}

.navbar-brand {
	padding-top: 0;
    padding-bottom: 0;
    font-size:4rem; 
   	line-height:0.5vmin;
}

.dropdown-menu {
   	top:70px;
}

.nav-item a{
	font-size: 1.4rem;
}

.navbar-nav {
	margin-left: 5%;
}
.nav-top {
	margin-left: 0 !important;
}

/* 메인 중간 소개 화면 */
.main-content {
   	height:50%;
}

.main-content .content_top {
   	height:100%; 
   	background-image: url('../images/main2.jpg'); 
   	background-size: 100% 100%; 
   	min-height:50%; 
   	z-index:100; 
   	background-repeat: no-repeat;
}

.main-content .content_top .main-text1 {
  	position: relative; 
  	top:25%; 
  	float: right; 
  	right: 20%; 
  	font-size:4.5vmin; 
  	font-weight: bold;
  	margin-bottom: 0; 
  	line-height:0.5vmin;
}
    
.main-content .content_top .main-text2 {
   	position: relative; 
   	top:30%; 
   	float: right; 
   	right: 20%; 
   	font-size:6.5vmin; 
   	font-weight: bold;
   	line-height:0.5vmin;
}

.table {
	background-color: white;
}

.nav-top .top_side {
	text-align: right;
}
.nav-top .nav-item {
	align-self: center;
}

.top_loginState {
	width: fit-content; 
	border-radius: 10px; 
	color: black; 
	padding-left: 1%; 
	padding-right: 1%;
}

@media (max-width:550px) {
	.nav-top {
		margin-left: 0 !important;
		padding-right: 0 !important;
	}
	.nav-top .nav-item a{
		font-size: 5vmin !important;
	}
	
	.navbar-brand {
		width:100px !important;
	}
	.nav-top-div .container {
		padding: 0 !important;
	}
}

@media (max-width: 330px) {
	.nav-top .nav-item a{
		font-size: 15px !important;
	}
}

.swal-text, .swal-title, .swal-button {
	font-family: sangsangBody !important;
}

