@font-face {
	font-family: 'sangsangBody';
	src: url('../font/SangSangBodyL.ttf');
}

@font-face {
	font-family: 'sangsangTitle';
	src: url('../font/SangSangTitleB.ttf')
}

.main-body {
	background-image : url('../images/mainIcon/mainBackground3.PNG'); 
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	padding-bottom: 0;
	height: inherit;
	width: 100%;
	bottom: 0;
	text-align: center;
}

nav {
	margin-bottom: 0 !important;
	z-index: 5000 !important;
}


.main-container {
  top: 45% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important ;
  transform: translate(-50%, -50%) !important;
  margin-left: 0 !important;
  position: relative;
  width: 70%;
  height: 50%;
}

.box
{
  border:0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 3vmin;
  background-color: white; /* gold */
  /* Single pixel data uri image http://jsfiddle.net/LPxrT/ 
  /* background-image: gold, gold, white */
  background-image: 
  url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
  url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
  url('../images/mainIcon/mainBackground3.PNG');
  background-repeat: no-repeat;
  background-size: 0 3vmin, 0 100%, 0% 3vmin;
  background-position: top center, top center, bottom center;
  -webkit-animation: drawBorderFromCenter 3s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes drawBorderFromCenter {
    0% {
      background-size: 0 18vmin, 0 0, 100% 100%;
    }
    20% {
      background-size: 100% 3vmin, 100% 0, 100% 100%;
    }
    66%
    {
      background-size: 100% 3vmin, 100% 93%, 100% 100%;
    }
    99%
    {
      background-size: 100% 3vmin, 100% 93%, 0 3vmin;
    }
}



.content
{
  height:100%;
  background-image: url('../images/mainIcon/mainBackground3.PNG');
  padding: 4em;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

/* .main-logo-left-hr {
	height:10px;
	background-color: red;
	width:0px;
	float: right;
	-webkit-animation: main-logo-left 3s;
} */

.main-logo {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 3%;
}

.main-logo > span {
	position: relative;
	display: inline-block;
}

.logo_left {
	display: inline-flex;
	flex: 1;
	content: "";
	top:50%;
	height: 4vmin;
	width: 39%;
	background: #FFE500; 
	margin-right: 3%;
	-webkit-animation: main-logo 3s;
	vertical-align: bottom;
}

.logo_right {
	display: inline-flex;
	flex: 1;
	content: "";
	top:50%;
	height: 4vmin;
	width: 39%;
	background: #FFE500; 
	margin-left: 3%;
	-webkit-animation: main-logo 3s;
	vertical-align: bottom;
}


@-webkit-keyframes main-logo {
    from {
    	width:0%;
    }
    to
    {
      width: 39%;
    }
}

@media(max-width: 766px)  {
	.container{
		top:50% !important;
	}
}

.main_right table td {
	padding: 0.2rem;
	font-size: 1.5vmin;
	border-top: 0;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	border-radius: 10px;
	
}
.main_right table a, table tbody td {
	color: black;
	font-family: sangsangBody !important;
}

.pagination a span {
	font-family: sangsangBody !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover a{ 
	background-color: #D76161;
	color: white; 
	text-decoration: none;
}
table tfoot td {
	padding-bottom: 0 !important;
}

.kr_Seoul {position:sticky; left:25px;top:22px;float:none;width:220px;height:169px;margin-left:auto; margin-right:auto; background:url(../images/map2/bg_seoul.png) 0 0 no-repeat;}
.kr_Seoul .imgMap {position:absolute; top:0; left:0; z-index:100;}
.kr_Seoul ul {position:absolute; top:0; left:0; z-index:0; list-style: none;}
.kr_Seoul ul li {display:none; position:absolute;}
.kr_Seoul ul li.map1 {top:-22px; left:109px;}
.kr_Seoul ul li.map2 {top:-24px; left:99px;}
.kr_Seoul ul li.map3 {top:-17px; left:77px;}
.kr_Seoul ul li.map4 {top:-10px; left:93px;}
.kr_Seoul ul li.map5 {top:-3px; left:71px;}
.kr_Seoul ul li.map6 {top:-17.5px; left:55.5px;}
.kr_Seoul ul li.map7 {top:-13px; left:38px;}
.kr_Seoul ul li.map8 {top:-1px; left:13px;}
.kr_Seoul ul li.map9 {top:-24px; left:9px;}
.kr_Seoul ul li.map10 {top:17.1px; left:90px;}
.kr_Seoul ul li.map11 {top:16px; left:65px;}
.kr_Seoul ul li.map12 {top:13px; left:42px;}
.kr_Seoul ul li.map13 {top:26.5px; left:35.5px;}
.kr_Seoul ul li.map14 {top:11px; left:2px;}
.kr_Seoul ul li.map15 {top:18px; left:122px;}
.kr_Seoul ul li.map16 {top:47px; left:104px;}
.kr_Seoul ul li.map17 {top:52px; left:81px;}
.kr_Seoul ul li.map18 {top:62px; left:65px;}
.kr_Seoul ul li.map19 {top:51px; left:17px;}
.kr_Seoul ul li.map20 {top:72px; left:18px;}
.kr_Seoul ul li.map21 {top:74px; left:-5px;}
.kr_Seoul ul li.map22 {top:39px; left:1px;}
.kr_Seoul ul li.map23 {top:54px; left:-27px;}
.kr_Seoul ul li.map24 {top:33px; left:-28px;}
.kr_Seoul ul li.map25 {top:10px; left:-45px;}
